* {
  padding: 0px;
  margin: 0px;
}
body {
  height: 100%;
  width: 100%;
}
.home_head_img {
  width: 100%;
}
.home_head_img img {
  width: 100%;
}
/* ------------------------------------------------------categoaries */

.home_cate_container {
  background-color: rgb(246, 246, 246);
}
.home_cate_container img {
  height: 250px;
  cursor: pointer;
}
.home_cate_container .first_row_cat {
  display: flex;
  justify-content: space-evenly;
}

/*---------------------------------------------------------- deal of the day container */
h3 {
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 10px;
  color: rgb(44, 44, 44);
  margin: 50px 20px;
}
.home_deal_container {
}
.home_deal_container .home_all_deals {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.home_deal_container .home_all_deals img {
  cursor: pointer;
  width: 220px;
  margin: 10px;
  cursor: pointer;
}

/* last container */
.home_last {
  margin-top: 200px;
}
