* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.footer_container {
  display: flex;
  padding: 20px;
  margin: auto auto;
  margin-top: 50px;
  background-color: rgb(228, 228, 228);
  /* position: absolute; */
  /* bottom: 0; */
}
/* ---------------------leftpart */
.footer_left {
  /* border: 1px solid black; */
  display: flex;
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}
.footer_left h4 {
  text-transform: uppercase;
}

.footer_left .left_list {
  cursor: pointer;
}
.footer_left .right_list {
  cursor: pointer;
}

/* ------------------------midpart */
.footer_mid {
  text-align: center;
  width: 30%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer_mid h4 {
  margin-bottom: 30px;
  margin-top: 30px;
}
.footer_mid .apps_container {
  display: flex;
  justify-content: space-evenly;
  margin: auto auto;
  width: 100%;
  cursor: pointer;
}
#keepintouch {
  margin-top: 50px;
  z-index: -1;
  width: 50%;
}
/* -------------------------rightpart */
.footer_right {
  width: 20%;
  /* border: 1px solid black; */
}

.bottom_extra {
  /* border: 1px solid black; */
  height: 50px;
  background-color: rgb(228, 228, 228);
}
